.pokemonCell {
    background-color: lightgray;
    border: 1px solid white;
}

.caught {
    background-color: lightgreen;
}

.basic {
    color: white;
}

.bronze {
    color: #cd7f32 !important;
}

.silver {
    color: #c0c0c0 !important;
}

.gold {
    color: #ffd700 !important;
}

.diamond {
    color: #4ee2ec !important;
}
