.dockerignore
.github
.engine
.env
.secrets
.vscode
.gitignore
app/.cfformat.json
readme.md
config
app/tests
env
docs
app/\_testemails
app/includes/node_modules
app/modules
app/coldbox
app/includes/uploads
app/includes/package.json
app/includes/package-lock.json
app/includes/eslint.config.js
app/includes/.terser.json
