# Environment
ENVIRONMENT=development

# Config
CFCONFIG_ADMINPASSWORD=commandbox
LUCEE_ADMIN_ENABLED=true
INSPECTTEMPLATE=always
IMAGEMAGICKPATH=

# Web
HTTP_PORT=8081
HTTP_HOST=0.0.0.0
REQUESTTIMEOUT=60
SESSIONTIMEOUT=60

# Java
OS=linux
JAVAHEAP=4096
JAVAMINHEAP=1024

# Database 
DB_HOST=pogotracker_db
DB_PORT=5432
DB_NAME=pogotracker_db
DB_SCHEMA=public
DB_USERNAME=pogotracker_docker
DB_PASSWORD=docker1234

# Email
EMAIL_SERVER=
EMAIL_PORT=
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_TLS=
EMAIL_SSL=
EMAIL_SPOOL=

# Security
ALGORITHM=SHA-512
ITERATIONS=2
PEPPER=asdfsdfasdfadfsdfsdf
REINITKEY=
RECAPTCHASITEKEY=dockerplaceholder
RECAPTCHASECRETKEY=dockerplaceholder
WARMUPTIMEOUT=60