# Environment
ENVIRONMENT=

# Lucee Admin Extensions for local/test
OTHER_EXTENSIONS=,CED6227E-0F49-6367-A68D21AACA6B07E8;version=1.0.0.7

# Config
CFCONFIG_ADMINPASSWORD=
LUCEE_ADMIN_ENABLED=
INSPECTTEMPLATE=
IMAGEMAGICKPATH=

# Web
HTTP_PORT=
HTTP_HOST=
REQUESTTIMEOUT=
SESSIONTIMEOUT=

# Java
OS=
JAVAHEAP=

# Database 
DB_HOST=
DB_PORT=
DB_NAME=
DB_SCHEMA=
DB_USERNAME=
DB_PASSWORD=
DB_BUNDLEVERSION=42.7.9

# Email
EMAIL_SERVER=
EMAIL_PORT=
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_TLS=
EMAIL_SSL=
EMAIL_SPOOL=

# Security
ALGORITHM=
ITERATIONS=
PEPPER=
REINITKEY=
RECAPTCHASITEKEY=
RECAPTCHASECRETKEY=