.blogIcon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.blogImage {
  display: block;
  width: 100%;
  max-height: 300px !important;
  height: auto;
  object-fit: fill;
}

.blogImageMain {
  display: block;
  width: 100%;
  max-height: 350px !important;
  height: auto;
  object-fit: fill;
}
